<%- include('partials/header'); -%>

<div class="container producing">
    <div class="left-column">
        <img src="/images/allswags/<%=fimage%>" alt="Front view" class="active" data-image="blue" style="height: 700px; width:600px ;">
        <img src="/images/allswags/<%=bimage%>" alt="Back view" data-image="yellow" style="height: 700px; width:600px;">
        <img src="/images/allswags/ts2.jpeg" alt="hackerearth" data-image="black" style="height: 700px; width:600px;">
    </div>

    <div class="right-column">

        <!-- Product Description -->
        <div class="product-description">
            <span>Tshirt</span>
            <h1><%= title %></h1>
            <p><%=description %></p>
        </div>

        <!-- Product photos -->
        <div class="product-photos">
            <span>All Photos</span>

            <div class="photo-choose">
                <div>
                    <input data-image="blue" type="radio" value="blue" name="angles" id="blue" checked>
                    <label for="blue"><span><img class="angles-img" src="/images/allswags/<%=fimage%>"></span></label>
                </div>
                <div>
                    <input data-image="yellow" type="radio" value="yellow" name="angles" id="yellow">
                    <label for="yellow"><span><img class="angles-img" src="/images/allswags/<%=bimage%>"></span></label>
                </div>
                <div>
                    <input data-image="black" type="radio" value="black" name="angles" id="black">
                    <label for="black"><span><img class="angles-img" src="/images/allswags/ts2.jpeg"></span></label>
                </div>
            </div>
        </div>




    </div>
</div>


      	




<%- include('partials/footer'); -%>